NODE_ENV=development

BASE_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# AI
OPENAI_API_KEY=

# Authorization
BETTER_AUTH_SECRET=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database
DATABASE_URL=

# Instagram
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_TESTER_ACCESS_TOKEN=

# Bunny
BUNNY_API_KEY=
BUNNY_STORAGE_ZONE=insomnee
BUNNY_STORAGE_ACCESS_KEY=
BUNNY_STORAGE_HOSTNAME=insomnee-web.b-cdn.net

# Trigger
TRIGGER_SECRET_KEY=

# Elevenlabs
ELEVENLABS_API_KEY=sk_99f0ad395641ee93f676093bd188c05b60baebf74baa90f9

